#body {
    background-image: url('./background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#city {
    width: 60%;
    height: 50px;
    border-radius: 20px;
}

.m1 {
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-evenly;
}

#searcher {
    display: inline;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    margin-top: -10px;
}

/* #imageWeather{
margin: 100px;
/* } */
/* img {
    width: 80px;
    height: 50px;
} */

#temperatureDiv {
    /* display: inline-flex; */
    /* text-align: right; */
    /* width: 10%; */
    /* margin-left: 30px; */
    margin-right: 20px;
    color: white;
}

#name {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 80px;
    color: white;
}

#details {
    font-weight: bold;
    display: inline-flex;
    justify-content: space-between;
    /* margin-top: 10px; */
}

#weather {
    display: none;
}